@font-face {
  font-family: "patrick";
  src: url(Patrick_Hand/PatrickHand-Regular.ttf);
}

:root {
  font-family: "patrick";
}

.header {
  text-align: center;
  font-size: 100px;
}

.container {
  display: flex;
  justify-content: center;
}

.board {
  display: flex;
  width: 700px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cell {
  display: flex;
  border: 2px solid black;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.disabled {
  pointer-events: none;
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  position: absolute;
  width: 70vw;
  height: 30vh;
  opacity: 50%;
  font-size: 30px;
  margin-top: 15vh;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px black solid;
  visibility: hidden;
}

.open-popup {
  visibility: visible;
  opacity: 100%;
  transition: opacity 0.5s;
}

.resetButton {
  font-size: 100%;
  border: 2px solid black;
  width: 20vw;
  height: 5vh;
  text-align: center;
  border-radius: 25px;
}

.resetButton:hover {
  background-color: black;
  color: white;
}